.header {
  background: #a19c8d;
  margin: 0;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #3a3530;
  margin: 25px;
  border-radius: 30px;
}

.name__header {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
}

.name__li {
  margin: 0;
  font-size: 25px;
  cursor: pointer;
}

.name__li:hover {
  border-bottom: 2px solid #e6e1db;
}

.ul {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.li {
  display: flex;
  align-items: center;
  height: 35px;
}
