.header {
  /* background: #d9c9b2; */
  margin: 0;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Jost";
  color: #3a3530;
}

.name__header {
  margin: 0;
  font-size: 30px;
  font-weight: 450;
}

.name__li {
  margin: 0;
  font-size: 20px;
}

.name__li:hover {
  border-bottom: 2px solid #e6e1db;
}

.ul {
  width: 350px;
  display: flex;
  justify-content: space-around;
}

.li {
  display: flex;
  align-items: center;
  height: 35px;
}
