@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost/Jost-Italic-VariableFont_wght.ttf");
}

body {
  width: 100%;
  min-height: 1000px;
  margin: 0;
  font-family: "Jost";
}

html {
  background: #d9c9b2;
  background: linear-gradient(
    180deg,
    rgba(217, 201, 178, 1) 0%,
    rgba(58, 53, 48, 1) 100%
  );
}
