.add__habit {
  width: 1300px;
  height: 70px;
  display: flex;
  align-items: start;
  margin-top: 30px;
}

.add__habit__button {
  height: 60px;
  background: none;
  border: 2px solid black;
  border-radius: 30px;
  font-family: "Jost";
  font-size: 20px;
  cursor: pointer;
}
